.ticket-container {
  animation-name: animationwidth;
  animation-duration: 0.7s;
}

.h-45 {
  height: 49vh;
}

.ticket__header {
  list-style: none;
  text-transform: capitalize;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #16344e;
  font-weight: 500;
  padding: 0 4rem 0 0.3rem;
}

.ticket__header__item {
  text-align: left;
  /* flex: 1 1 20%; */
}

@keyframes animationwidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
