.catalog-suggestion-container {
  height: 150px;
  overflow-y: auto;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-top: none; */
  animation: expand 0.6s;
  background: whitesmoke;
  display: show;
  padding-top: 15px;
  cursor: pointer;
  z-index: 5;
}

.overflow-classification::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
.overflow-classification::-webkit-scrollbar-track {
  background: whitesmoke; /* color of the tracking area */
}
.overflow-classification::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* color of the scroll thumb */
  border-radius: 15px; /* roundness of the scroll thumb */
  /* border: 3px solid whitesmoke; creates padding around scroll thumb */
}


.catalog-suggestion-container1 {
  height: 150px;
  overflow-y: auto;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-top: none; */
  animation: expand 0.6s;
  background: whitesmoke;
  display: show;
  padding-top: 15px;
  cursor: pointer;
  z-index: 5;
}

.catalog-suggestion-inner-content {
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
  color: var(--text-color);
}

.catalog-suggestion-inner-content:hover {
  /* padding: 7px 10px; */
  color: white;
  background-color: #0a3a60;
  transition: all 0.2s linear;
  border-radius: 6px;
}

.catalog-suggestion-inner-content span {
  font-size: 14px;
}

.catalog-suggestion-container-hide {
  display: none;
}

@keyframes expand {
  0% {
    height: 0px;
  }

  100% {
    height: 150px;
  }
}
