.modal__list {
  list-style: none;
  flex: 0 0 40%;
}

.modal__item {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--secondary);
  margin-right: 1rem;
}

.modal__item:not(:last-child) {
  margin-bottom: 1.3rem;
}

.modal__item--text {
  color: var(--primary);
  display: inline-block;
  font-weight: 400;
}

.modal__item--status {
  color: #fff;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 400;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  margin-left: 0.8rem;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.16);
}

.pending-color {
  background-color: var(--pending-color);
}

.progress-color {
  background-color: var(--progress-color);
}

.close-color {
  background-color: var(--close-color);
}

.waiting-color {
  background-color: var(--primary);
}

.new-color {
  background-color: var(--new);
}

.assigned-color {
  background-color: var(--assigned);
}

.resolved-color {
  background-color: var(--resloved);
}

.modal__item--description {
  text-align: left;
  font-size: 0.8rem;
  color: var(--primary);
  display: block;
  font-weight: 400;
}
